<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout-user.html}">
<head>
    <meta charset="UTF-8">

    <title>Title</title>

    <link rel="icon" type="image/png" th:href="@{/images/icons/favicon.png}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/iconic/css/material-design-iconic-font.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/linearicons-v1.0.0/icon-font.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/animate/animate.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/css-hamburgers/hamburgers.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/animsition/css/animsition.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/select2/select2.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/perfect-scrollbar/perfect-scrollbar.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

</head>
<body>


    <div layout:fragment="content">

        <!-- Title page -->
    <section class="p-lr-15 p-tb-92 no-hero-bg">
            <div class="hero-image-wrapper">
                <img src="images/bantm.jpg" alt="About banner" class="hero-full-img"/>
            </div>
        </section>


        <!-- Content page -->
        <section class="bg0 p-t-75 p-b-120">
            <div class="container">
                <div class="row p-b-148">
                    <div class="col-md-7 col-lg-8">
                        <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                            <h3 class="mtext-111 cl2 p-b-16">
                                Về chúng tôi
                            </h3>

                            <p class="stext-113 cl6 p-b-26">
    Chào mừng đến với thế giới của chúng tôi - nơi mà công nghệ nhà thông minh trở nên gần gũi và hữu ích. Chúng tôi là một cửa hàng chuyên cung cấp các thiết bị nhà thông minh, cam kết mang đến cho bạn trải nghiệm tiện lợi và hiện đại.
</p>

<p class="stext-113 cl6 p-b-26">
    Tại cửa hàng của chúng tôi, bạn sẽ tìm thấy không chỉ các thiết bị, mà còn là giải pháp hoàn hảo để nâng cấp ngôi nhà của bạn. Mỗi sản phẩm được chọn lọc đều mang đến sự an toàn, tiện ích và tiết kiệm năng lượng, từ các thiết bị điều khiển ánh sáng, an ninh đến các sản phẩm gia dụng thông minh.
</p>

<p class="stext-113 cl6 p-b-26">
    Bạn có câu hỏi nào? Vui lòng liên hệ với cửa hàng tại 	IUH - Đại học Công nghiệp TP. Hồ Chí Minh

</p>
                            
                        </div>
                    </div>

                    <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
                        <div class="how-bor1 ">
                            <div class="hov-img0">
                                <img src="images/noithat.jpg" alt="IMG">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
                        <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                            <h3 class="mtext-111 cl2 p-b-16">
                                Sứ mệnh
                            </h3>

                            <p class="stext-113 cl6 p-b-26">
    Tại cửa hàng thiết bị nhà thông minh của chúng tôi, sứ mệnh không chỉ là cung cấp sản phẩm, mà là tạo ra những trải nghiệm tiện lợi và hiện đại cho khách hàng. Chúng tôi không chỉ mang đến những thiết bị thông minh vượt trội, mà còn truyền tải một tầm nhìn về cuộc sống thoải mái và an toàn hơn.
</p>

<div class="bor16 p-l-29 p-b-9 m-t-22">
    <p class="stext-114 cl6 p-r-40 p-b-11">
        Sứ mệnh của chúng tôi là giúp mỗi khách hàng trải nghiệm một cuộc sống tiện nghi và hiện đại. Chúng tôi tin rằng ngôi nhà của bạn là nơi để thư giãn và tận hưởng, và các thiết bị thông minh chính là công cụ giúp bạn dễ dàng kiểm soát và nâng cao chất lượng cuộc sống. Chúng tôi mong muốn mang đến cho mọi người không chỉ là sản phẩm chất lượng, mà còn là sự an tâm và hài lòng.
    </p>

    <span class="stext-111 cl8">
        - Mr.Sang
    </span>
</div>
                            
                            </div>
                        </div>
                    </div>

                    <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
                        <div class="how-bor2">
                            <div class="hov-img0">
                                <img src="images/oc.jpg" alt="IMG">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Back to top -->
        <div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
        </div>
    </div>


<!--===============================================================================================-->
<script th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/animsition/js/animsition.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/bootstrap/js/popper.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/select2/select2.min.js}"></script>
<script th:inline="javascript">
    $(document).ready(function () {
        $(".js-select2").each(function(){
            $(this).select2({
                minimumResultsForSearch: 20,
                dropdownParent: $(this).next('.dropDownSelect2')
            });
        });
    });
</script>
<!--===============================================================================================-->
<script th:src="@{/vendor/MagnificPopup/jquery.magnific-popup.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
<script th:inline="javascript">
    $(document).ready(function () {
        $('.js-pscroll').each(function(){
            $(this).css('position','relative');
            $(this).css('overflow','hidden');
            var ps = new PerfectScrollbar(this, {
                wheelSpeed: 1,
                scrollingThreshold: 1000,
                wheelPropagation: false,
            });

            $(window).on('resize', function(){
                ps.update();
            });
        });
    });
</script>
<!--===============================================================================================-->
<script th:src="@{/js/main.js}"></script>

</body>
</html>