<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{user/layout-user.html}">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <!--===============================================================================================-->

</head>

<body>

  <div layout:fragment="content">

    <!-- Map placed at top (replaces hero image) -->
    <section class="p-t-0 p-b-40 bg0" style="padding-top:0;">
      <div class="row" style="margin-top:6px;">
        <div class="col-md-12">
          <div class="map" style="border-radius:8px;overflow:hidden;">
            <div th:if="${mapsApiKey == null or mapsApiKey == ''}"
              style="width:100%;min-height:560px;height:60vh;max-height:900px;">
              <iframe
                th:src="@{'https://www.google.com/maps?q=364%2F45%2F27%20D%C6%B0%C6%A1ng%20Qu%E1%BA%A3ng%20H%C3%A0m%2C%20Ph%C6%B0%E1%BB%9Dng%205%2C%20G%C3%B2%20V%E1%BA%A5p%2C%20H%E1%BB%93%20Ch%C3%AD%20Minh%2C%20Vi%E1%BB%87t%20Nam&hl=vi&z=16&output=embed'}"
                width="100%" style="border:0;height:100%;" allowfullscreen="" loading="lazy"></iframe>
            </div>
          </div>
        </div>
      </div>

    </section>


    <!-- Content page -->
    <section class="bg0 p-t-104 p-b-116">
      <div class="container">
        <div class="flex-w flex-tr">
          <div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
            <form>
              <h4 class="mtext-105 cl2 txt-center p-b-30">
                Gửi đề xuất cho cửa hàng
              </h4>

              <div class="bor8 m-b-20 how-pos4-parent">
                <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="email"
                  placeholder="Địa chỉ email của bạn">
                <img class="how-pos4 pointer-none" src="images/icons/icon-email.png" alt="ICON">
              </div>

              <div class="bor8 m-b-30">
                <textarea class="stext-111 cl2 plh3 size-120 p-lr-28 p-tb-25" name="msg"
                  placeholder="Chúng tôi giúp gì cho bạn?"></textarea>
              </div>

              <button class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
                Gửi
              </button>
            </form>
          </div>

          <div class="size-210 bor10 flex-w flex-col-m p-lr-93 p-tb-30 p-lr-15-lg w-full-md">
            <div class="flex-w w-full p-b-42">
              <span class="fs-18 cl5 txt-center size-211">
                <span class="lnr lnr-map-marker"></span>
              </span>

              <div class="size-212 p-t-2">
                <span class="mtext-110 cl2">
                  Địa chỉ
                </span>

                <p class="stext-115 cl6 size-213 p-t-18">
                  364/45/27 Dương Quảng Hàm, Phường 5, Gò Vấp, Hồ Chí Minh, Việt Nam
                </p>
              </div>
            </div>

            <div class="flex-w w-full p-b-42">
              <span class="fs-18 cl5 txt-center size-211">
                <span class="lnr lnr-phone-handset"></span>
              </span>

              <div class="size-212 p-t-2">
                <span class="mtext-110 cl2">
                  Liên hệ
                </span>

                <p class="stext-115 cl1 size-213 p-t-18">
                  +84 800 1236879
                </p>
              </div>
            </div>

            <div class="flex-w w-full">
              <span class="fs-18 cl5 txt-center size-211">
                <span class="lnr lnr-envelope"></span>
              </span>

              <div class="size-212 p-t-2">
                <span class="mtext-110 cl2">
                  Sale Support
                </span>

                <p class="stext-115 cl1 size-213 p-t-18">
                  haihaupy123@gmail.com
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>




    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn">
      <span class="symbol-btn-back-to-top">
        <i class="zmdi zmdi-chevron-up"></i>
      </span>
    </div>

  </div>


  <!--===============================================================================================-->
  <script th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
  <!--===============================================================================================-->
  <script th:src="@{/vendor/animsition/js/animsition.min.js}"></script>
  <!--===============================================================================================-->
  <script th:src="@{/vendor/bootstrap/js/popper.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
  <!--===============================================================================================-->
  <script th:src="@{/vendor/select2/select2.min.js}"></script>
  <script th:inline="javascript">
    $(document).ready(function () {
      $(".js-select2").each(function () {
        $(this).select2({
          minimumResultsForSearch: 20,
          dropdownParent: $(this).next('.dropDownSelect2')
        });
      });
    });
  </script>
  <!--===============================================================================================-->
  <script th:src="@{/vendor/MagnificPopup/jquery.magnific-popup.min.js}"></script>
  <!--===============================================================================================-->
  <script th:src="@{/vendor/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
  <script th:inline="javascript">
    $(document).ready(function () {
      $('.js-pscroll').each(function () {
        $(this).css('position', 'relative');
        $(this).css('overflow', 'hidden');
        var ps = new PerfectScrollbar(this, {
          wheelSpeed: 1,
          scrollingThreshold: 1000,
          wheelPropagation: false,
        });

        $(window).on('resize', function () {
          ps.update();
        });
      });
    });
  </script>
  <!-- Ensure our initMap function exists before Google calls it -->
  <script th:src="@{/js/contact-map.js}"></script>
  <!-- Load Google Maps (mapsApiKey provided by controller) -->
  <script th:if="${mapsApiKey != null and mapsApiKey != ''}"
    th:src="@{'https://maps.googleapis.com/maps/api/js?key=' + ${mapsApiKey} + '&libraries=places&callback=initMap'}"
    async defer></script>
  <!-- If mapsApiKey is empty, we still include Google Maps without key (may fail) -->
  <script th:unless="${mapsApiKey != null and mapsApiKey != ''}"
    th:src="'https://maps.googleapis.com/maps/api/js?callback=initMap'" async defer></script>
  <!--===============================================================================================-->
  <script th:src="@{/js/main.js}"></script>

</body>

</html>